body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: black;
}

@media (spanning: single-fold-vertical) {
  main-application {
    --gallery-width: 50%;
    --detail-visibility: visible;
  }
}

@media (spanning: none) {
  main-application {
    --gallery-width: 100%;
    --detail-visibility: hidden;
  }
}